body{
    background-color: rgb(15, 228, 15);
}
#Om
{
    width: 100%;
    color: #770a0a;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.maya
{
    width: 100%;
    color: rgb(139, 25, 126);
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230, 221, 221);
}